In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Load the Data
pwt = pd.read_csv('https://raw.githubusercontent.com/jivizcaino/PWT_10.0/main/pwt100.csv', encoding="latin-1")
pwt

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k
0,ABW,Aruba,Aruban Guilder,1950,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,Aruban Guilder,1951,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,Aruban Guilder,1952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,Aruban Guilder,1953,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,Aruban Guilder,1954,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12805,ZWE,Zimbabwe,US Dollar,2015,40141.61719,39798.64453,13.814629,6.393752,NaN,2.584653,...,0.140172,-0.287693,-0.051930,0.479228,0.651287,0.541446,0.616689,0.533235,0.422764,1.533909
12806,ZWE,Zimbabwe,US Dollar,2016,41875.20313,40963.19141,14.030331,6.504374,NaN,2.616257,...,0.131920,-0.251232,-0.016258,0.470640,0.651027,0.539631,0.619789,0.519718,0.416510,1.491724
12807,ZWE,Zimbabwe,US Dollar,2017,44672.17578,44316.74219,14.236595,6.611773,NaN,2.648248,...,0.126722,-0.202827,-0.039897,0.473560,0.639560,0.519956,0.619739,0.552042,0.415592,1.514525
12808,ZWE,Zimbabwe,US Dollar,2018,44325.10938,43420.89844,14.438802,6.714952,NaN,2.680630,...,0.144485,-0.263658,-0.020791,0.543757,0.655473,0.529867,0.641361,0.561526,0.425143,1.590120
12809,ZWE,Zimbabwe,US Dollar,2019,42296.06250,40826.57031,14.645468,6.831017,NaN,2.713408,...,0.213562,-0.270959,-0.089798,0.494755,0.652439,0.500927,0.487763,0.430082,0.420675,1.384068

In [3]:
#Prepare the Dataset and Clean the Data
pwt_subset = pwt[['country','countrycode','year','cgdpo','pop','emp','avh','hc','cn','labsh','ctfp']]
pwt_subset = pwt_subset[pwt_subset['year'] > 2009]
pwt_subset = pwt_subset.set_index('country')
#pwt_subset = pwt_subset.dropna()
pwt_subset

,countrycode,year,cgdpo,pop,emp,avh,hc,cn,labsh,ctfp
country,,,,,,,,,,
Aruba,ABW,2010,3775.287109,0.101669,0.046500,NaN,NaN,34614.17578,0.645106,NaN
Aruba,ABW,2011,3779.245117,0.102046,0.045690,NaN,NaN,35534.96094,0.645106,NaN
Aruba,ABW,2012,3658.761230,0.102560,0.045920,NaN,NaN,32822.87500,0.645106,NaN
Aruba,ABW,2013,4376.827637,0.103159,0.046188,NaN,NaN,28567.58203,0.645106,NaN
Aruba,ABW,2014,3819.866455,0.103774,0.046464,NaN,NaN,26377.21680,0.645106,NaN
...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,ZWE,2015,39455.902340,13.814629,6.393752,NaN,2.584653,61790.62891,0.533381,0.386632
Zimbabwe,ZWE,2016,40864.164060,14.030331,6.504374,NaN,2.616257,64844.19141,0.533381,0.385642
Zimbabwe,ZWE,2017,44316.742190,14.236595,6.611773,NaN,2.648248,67627.56250,0.533381,0.402779
Zimbabwe,ZWE,2018,43567.511720,14.438802,6.714952,NaN,2.680630,68826.77344,0.533381,0.382059
Zimbabwe,ZWE,2019,41081.722660,14.645468,6.831017,NaN,2.713408,69588.24219,0.533381,0.351973

In [4]:
#Choosing the Year to Perform the Analysis
print(pwt_subset.groupby("year").count())

      countrycode  cgdpo  pop  emp  avh   hc   cn  labsh  ctfp
year
2010          183    183  183  177   66  145  180    138   118
2011          183    183  183  177   66  145  180    138   118
2012          183    183  183  177   66  145  180    138   118
2013          183    183  183  177   66  145  180    138   118
2014          183    183  183  177   65  145  180    138   118
2015          183    183  183  177   65  145  180    138   118
2016          183    183  183  177   66  145  180    138   118
2017          183    183  183  177   66  145  180    138   118
2018          183    183  183  177   66  145  180    138   118
2019          183    183  183  177   66  145  180    138   118

We will choose 2019: the latest year with the largets number of ebservations for our variables of interest.
*To Do: Robustness using 2010,2015, and an average for 2010-2019

In [18]:
#Descriptive Statistics for the Variables in our Dataset
print(pwt_subset[pwt_subset['year'] == 2019].describe([0.05,0.10,0.25,0.50,0.75,0.90,0.95]).round(2))

         year        cgdpo      pop     emp      avh      hc            cn  \
count   183.0       183.00   183.00  177.00    66.00  145.00  1.800000e+02
mean   2019.0    682674.18    41.43   18.74  1849.98    2.71  3.122337e+06
std       0.0   2317689.04   150.99   72.60   269.24    0.70  1.017925e+07
min    2019.0        81.09     0.00    0.00  1380.61    1.22  1.198700e+03
5%     2019.0      1641.74     0.10    0.06  1443.42    1.57  9.918000e+03
10%    2019.0      3578.45     0.35    0.22  1519.04    1.71  1.686979e+04
25%    2019.0     24822.85     2.15    0.97  1650.92    2.16  8.731073e+04
50%    2019.0     90408.30     8.96    4.24  1818.28    2.78  3.321175e+05
75%    2019.0    428668.83    29.76   11.69  2061.05    3.26  1.833763e+06
90%    2019.0   1214362.08    80.26   28.27  2168.61    3.61  6.850620e+06
95%    2019.0   2901413.63   127.50   63.57  2296.89    3.70  1.543690e+07
max    2019.0  20566034.00  1433.78  798.81  2474.91    4.35  1.015442e+08

        labsh    ctfp     GDP_pw     GDP_pc
count  138.00  118.00     177.00     183.00
mean     0.51    0.63   47258.84   22035.21
std      0.12    0.23   38887.97   21505.80
min      0.16    0.05     612.47     251.18
5%       0.29    0.26    3822.68    1572.23
10%      0.33    0.34    6005.82    2314.44
25%      0.44    0.45   14348.19    5568.09
50%      0.53    0.64   38555.09   14518.20
75%      0.59    0.81   66985.13   31971.85
90%      0.64    0.91  104265.14   52305.42
95%      0.67    0.99  122982.74   62463.47
max      0.81    1.25  219595.21  110343.11

In [20]:
pwt_subset_2019 = pwt_subset[pwt_subset['year'] == 2019]
pwt_subset_2019

,countrycode,year,cgdpo,pop,emp,avh,hc,cn,labsh,ctfp,GDP_pw,GDP_pc
country,,,,,,,,,,,,
Aruba,ABW,2019,3466.241943,0.106314,0.047601,NaN,NaN,1.845813e+04,0.645106,NaN,72818.850417,32603.814578
Angola,AGO,2019,223289.312500,31.825295,16.644962,NaN,1.481984,1.371321e+06,0.331142,0.380317,13414.828363,7016.095609
Anguilla,AIA,2019,241.384537,0.014869,NaN,NaN,NaN,2.385742e+03,NaN,NaN,NaN,16234.080079
Albania,ALB,2019,36288.328130,2.880917,1.075898,NaN,2.964992,2.298183e+05,NaN,NaN,33728.418912,12596.103300
United Arab Emirates,ARE,2019,635332.812500,9.770529,5.808834,NaN,2.746695,4.510360e+06,NaN,NaN,109373.551420,65025.426208
...,...,...,...,...,...,...,...,...,...,...,...,...
Viet Nam,VNM,2019,723142.687500,96.462106,50.399563,2131.968232,2.869998,2.009263e+06,NaN,NaN,14348.193650,7496.650420
Yemen,YEM,2019,51983.429690,29.161922,5.531877,NaN,1.842989,5.485533e+05,NaN,NaN,9397.068898,1782.578998
South Africa,ZAF,2019,735067.062500,58.558270,18.642710,2191.363362,2.908202,2.897706e+06,0.570888,0.542998,39429.196353,12552.745539
Zambia,ZMB,2019,56811.105470,17.861030,5.225448,NaN,2.686845,3.037242e+05,0.390301,0.255552,10872.007380,3180.729525
Zimbabwe,ZWE,2019,41081.722660,14.645468,6.831017,NaN,2.713408,6.958824e+04,0.533381,0.351973,6013.998416,2805.080907

# Development Accounting

## GDP per worker

In [21]:
pwt_subset_2019['GDP_pw'] = pwt_subset_2019['cgdpo']/pwt_subset_2019['emp']
pwt_subset_2019['GDP_pw'].describe([0.01,0.05,0.10,0.25,0.50,0.75,0.90,0.95,0.99]).round(2)

<ipython-input-21-a20697b7eb1d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pwt_subset_2019['GDP_pw'] = pwt_subset_2019['cgdpo']/pwt_subset_2019['emp']

count       177.00
mean      47258.84
std       38887.97
min         612.47
1%         2357.29
5%         3822.68
10%        6005.82
25%       14348.19
50%       38555.09
75%       66985.13
90%      104265.14
95%      122982.74
99%      151185.21
max      219595.21
Name: GDP_pw, dtype: float64

In [22]:
pwt_subset_2019

,countrycode,year,cgdpo,pop,emp,avh,hc,cn,labsh,ctfp,GDP_pw,GDP_pc
country,,,,,,,,,,,,
Aruba,ABW,2019,3466.241943,0.106314,0.047601,NaN,NaN,1.845813e+04,0.645106,NaN,72818.850417,32603.814578
Angola,AGO,2019,223289.312500,31.825295,16.644962,NaN,1.481984,1.371321e+06,0.331142,0.380317,13414.828363,7016.095609
Anguilla,AIA,2019,241.384537,0.014869,NaN,NaN,NaN,2.385742e+03,NaN,NaN,NaN,16234.080079
Albania,ALB,2019,36288.328130,2.880917,1.075898,NaN,2.964992,2.298183e+05,NaN,NaN,33728.418912,12596.103300
United Arab Emirates,ARE,2019,635332.812500,9.770529,5.808834,NaN,2.746695,4.510360e+06,NaN,NaN,109373.551420,65025.426208
...,...,...,...,...,...,...,...,...,...,...,...,...
Viet Nam,VNM,2019,723142.687500,96.462106,50.399563,2131.968232,2.869998,2.009263e+06,NaN,NaN,14348.193650,7496.650420
Yemen,YEM,2019,51983.429690,29.161922,5.531877,NaN,1.842989,5.485533e+05,NaN,NaN,9397.068898,1782.578998
South Africa,ZAF,2019,735067.062500,58.558270,18.642710,2191.363362,2.908202,2.897706e+06,0.570888,0.542998,39429.196353,12552.745539
Zambia,ZMB,2019,56811.105470,17.861030,5.225448,NaN,2.686845,3.037242e+05,0.390301,0.255552,10872.007380,3180.729525
Zimbabwe,ZWE,2019,41081.722660,14.645468,6.831017,NaN,2.713408,6.958824e+04,0.533381,0.351973,6013.998416,2805.080907

## GDP per capita

In [24]:
#pwt_subset_2019['GDP_pc'] = pwt_subset_2019['cgdpo']/pwt_subset_2019['pop']
pwt_subset_2019[['GDP_pc','GDP_pw','ctfp']].describe([0.01,0.05,0.10,0.25,0.50,0.75,0.90,0.95,0.99]).round(2)

          GDP_pc     GDP_pw    ctfp
count     183.00     177.00  118.00
mean    22035.21   47258.84    0.63
std     21505.80   38887.97    0.23
min       251.18     612.47    0.05
1%        947.26    2357.29    0.20
5%       1572.23    3822.68    0.26
10%      2314.44    6005.82    0.34
25%      5568.09   14348.19    0.45
50%     14518.20   38555.09    0.64
75%     31971.85   66985.13    0.81
90%     52305.42  104265.14    0.91
95%     62463.47  122982.74    0.99
99%     95301.04  151185.21    1.22
max    110343.11  219595.21    1.25

In [26]:
pwt_subset_2019_3vars = pwt_subset_2019[['GDP_pc','GDP_pw','ctfp']]
pwt_subset_2019_3vars.dropna()

                                          GDP_pc         GDP_pw      ctfp
country
Angola                               7016.095609   13414.828363  0.380317
Argentina                           21852.255885   47403.410950  0.812184
Armenia                             14807.190884   45332.881212  0.820758
Australia                           53768.702289  105350.608151  0.837903
Austria                             53414.170358  105120.835121  0.803706
...                                          ...            ...       ...
United States                       62498.409698  129918.427818  1.000000
Venezuela (Bolivarian Republic of)    251.176696     612.473647  0.054367
South Africa                        12552.745539   39429.196353  0.542998
Zambia                               3180.729525   10872.007380  0.255552
Zimbabwe                             2805.080907    6013.998416  0.351973

[118 rows x 3 columns]

In [54]:
var_log_ypw = np.var(np.log(pwt_subset_2019_3vars['GDP_pw']))
var_log_ypw

1.1667123516061262

In [32]:
var_log_ypc = np.var(np.log(pwt_subset_2019_3vars['GDP_pc']))

In [33]:
var_log_tfp = np.var(np.log(pwt_subset_2019_3vars['ctfp']))

In [34]:
var_log_tfp/var_log_ypw

0.17102092414317102

In [46]:
pwt_subset_2019_7vars = pwt_subset_2019[['GDP_pc','GDP_pw','ctfp','cn','emp','labsh','hc']]
pwt_subset_2019_6vars = pwt_subset_2019[['GDP_pc','GDP_pw','ctfp','cn','emp','hc']]
pwt_subset_2019_6vars = pwt_subset_2019_6vars.dropna()
pwt_subset_2019_7vars = pwt_subset_2019_7vars.dropna()

In [47]:
pwt_subset_2019_6vars['cn']
pwt_subset_2019_6vars['emp']

country
Angola                                 16.644962
Argentina                              20.643215
Armenia                                 0.966091
Australia                              12.863174
Austria                                 4.550281
                                         ...
United States                         158.299591
Venezuela (Bolivarian Republic of)     11.694400
South Africa                           18.642710
Zambia                                  5.225448
Zimbabwe                                6.831017
Name: emp, Length: 118, dtype: float64

In [51]:
pwt_subset_2019_6vars['k'] = (pwt_subset_2019_6vars['cn']/pwt_subset_2019_6vars['emp'])
pwt_subset_2019_6vars['y_hk_pw'] = (pwt_subset_2019_6vars['k']**(1/3))*((pwt_subset_2019_6vars['hc'])**(2/3))
pwt_subset_2019_6vars['y_hk_pw'].describe([0.01,0.05,0.10,0.25,0.50,0.75,0.90,0.95,0.99]).round(2)

count    118.00
mean     118.12
std       53.47
min       19.61
1%        25.35
5%        34.50
10%       42.82
25%       77.91
50%      113.09
75%      168.45
90%      187.45
95%      195.06
99%      206.06
max      221.20
Name: y_hk_pw, dtype: float64

In [55]:
np.var(np.log(pwt_subset_2019_6vars['y_hk_pw']))

0.3169161694515866

In [57]:
np.var(np.log(pwt_subset_2019_6vars['ctfp']))

0.19953222458093198

In [56]:
np.var(np.log(pwt_subset_2019_6vars['GDP_pw']))

1.12988486908102

In [ ]:
###############################################################

In [ ]:
pwt_subset['k']       = (pwt_subset['cn']/pwt_subset['emp'])
pwt_subset['y_hk_pw'] = (pwt_subset['k']**(1-pwt_subset['labsh']))*((pwt_subset['avh']*pwt_subset['hc'])**pwt_subset['labsh'])
pwt_subset['y_hk_pw'].describe([0.01,0.05,0.10,0.25,0.50,0.75,0.90,0.95,0.99]).round(2)

In [65]:
pwt_subset_2019_7vars['k'] = (pwt_subset_2019_7vars['cn']/pwt_subset_2019_7vars['emp'])
pwt_subset_2019_7vars['y_hk_pw_alt'] = (pwt_subset_2019_7vars['k']**(1/3))*((pwt_subset_2019_7vars['hc'])**(2/3))
pwt_subset_2019_7vars['y_hk_pw_alt'].describe([0.01,0.05,0.10,0.25,0.50,0.75,0.90,0.95,0.99]).round(2)

count    118.00
mean     118.12
std       53.47
min       19.61
1%        25.35
5%        34.50
10%       42.82
25%       77.91
50%      113.09
75%      168.45
90%      187.45
95%      195.06
99%      206.06
max      221.20
Name: y_hk_pw_alt, dtype: float64

In [ ]:
pwt_subset_2019_7vars['y_hk_pw'] = (pwt_subset_2019_7vars['k']**(1-pwt_subset_2019_7vars['labsh']))*((pwt_subset_2019_7vars['hc'])**(2/3))
pwt_subset_2019_7vars['y_hk_pw'].describe([0.01,0.05,0.10,0.25,0.50,0.75,0.90,0.95,0.99]).round(2)

In [62]:
np.var(np.log(pwt_subset_2019_7vars['GDP_pw']))

1.12988486908102

In [63]:
np.var(np.log(pwt_subset_2019_7vars['ctfp']))

0.19953222458093198

In [64]:
np.var(np.log(pwt_subset_2019_7vars['y_hk_pw']))

2.0871826861001317

In [66]:
np.var(np.log(pwt_subset_2019_7vars['y_hk_pw_alt']))

0.3169161694515866

In [ ]:
ypw_p99_p01_ratio    = pwt_subset['GDP_pw'].quantile(0.99)/pwt_subset['GDP_pw'].quantile(0.01)
yhk_pw_p99_p01_ratio = pwt_subset['y_hk_pw'].quantile(0.99)/pwt_subset['y_hk_pw'].quantile(0.01)
ypw_p99_p01_ratio,yhk_pw_p99_p01_ratio

In [ ]:
ypw_p95_p05_ratio    = pwt_subset['GDP_pw'].quantile(0.95)/pwt_subset['GDP_pw'].quantile(0.05)
yhk_pw_p95_p05_ratio = pwt_subset['y_hk_pw'].quantile(0.95)/pwt_subset['y_hk_pw'].quantile(0.05)
ypw_p95_p05_ratio,yhk_pw_p95_p05_ratio

In [ ]:
ypw_p90_p10_ratio    = pwt_subset['GDP_pw'].quantile(0.90)/pwt_subset['GDP_pw'].quantile(0.10)
yhk_pw_p90_p10_ratio = pwt_subset['y_hk_pw'].quantile(0.90)/pwt_subset['y_hk_pw'].quantile(0.10)
ypw_p90_p10_ratio,yhk_pw_p90_p10_ratio

In [ ]:
ypw_p75_p25_ratio    = pwt_subset['GDP_pw'].quantile(0.75)/pwt_subset['GDP_pw'].quantile(0.25)
yhk_pw_p75_p25_ratio = pwt_subset['y_hk_pw'].quantile(0.75)/pwt_subset['y_hk_pw'].quantile(0.25)
ypw_p75_p25_ratio,yhk_pw_p75_p25_ratio